.rating-icon {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: inline-block;
    z-index: 100;
    position: absolute;
    top: 2px;
}
.rating-icon.kiosk{
    /*line-height: 100px;*/
    /*font-size: 20px;*/
}
.rating-icon.midsize{
    line-height: 60px;
    font-size: 15px;
}
.imdb-icon-good {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/imdb-good.png');
    left: 2px;
}
.imdb-icon-bad {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/imdb-bad.png');
    left: 2px;
}

.rt-icon-fresh {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/rt-fresh.png');
    right: 2px;
}

.rt-icon-rotten {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/rt-rotten.png');
    right: 2px;
}

.transparent{
    opacity: 0.5;
}


.rating-value {
    color: black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15px;
    font-family: tahoma;
    font-weight: bold;
    transform: translate(-50%, -50%);
}